<%- include('../../../core/header') %>

<div class="form-group">
    
    <div class="form-input mb-3">
        <h3>Add Order</h3>
        <input type="button" id="addComponent" class="btn btn-success" value="+"> Add Component
    </div>
    
    <form action="/admin/orders/add" method="POST">

        <input type="submit" class="btn btn-primary mb-3" value="Create">
        
        <input id="countField" name="count" class="invisible" type="text" value="1" readonly>
        <input type="email" class="invisible" name="email" value="<%= email %>" readonly>

            <div class="componentcontainer">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="float-left">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Type:</b> <input name="inputType1" type="text"></td> 
                                    </tr>
                                    <tr>
                                        <td><b>Brand:</b> <input name="inputBrand1" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Model:</b> <input name="inputModel1" type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>

<%- include('../../../core/footer') %>