html {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  background-color: #fff;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
html body {
  height: 100%;
  margin-bottom: 100px;
}
html body main #login {
  margin-top: 15%;
  padding: 5%;
  width: 50%;
}
html body main .ul_user_modify {
  margin: 0;
}
html body main .ul_user_modify li {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
