footer {
    display: grid;
    background-color: #262626;
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0;

    cursor: default;

    .copyright {
        vertical-align: middle;
        font-size: 20px;
        color: #FFF;
        text-align: center;
    }
}