div.top-header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 100%;
    z-index: 998;
}

header {
    height: 80px !important;
    &>nav.navbar {
        z-index: 999 !important;
        height: 80px !important;
        padding: 0px 0px 0px 14.6rem;
        background-color: #262626 !important;
        position: fixed !important;
        margin-top: 30px !important;
        width: 100% !important;
    }

    a.main-logo {
        background: transparent url("../../img/asyncsystems.svg") center center no-repeat;
        background-size: 100%;
        width: 200px;
        height: 83px;
        color: transparent;
        text-decoration: none;
        position: relative;
        top: 0.65em;
    }

    .nav-link {
        font-size: 20px !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .active {
        border-bottom: 5px solid #AF0C00;
    }

    .navbar-collapse {
        background-color: #262626 !important;
    }

    div[aria-labelledby="logoutDropdown"] {
        left: auto !important;
        right: 0 !important;
    }

    a[href="/logout"] {
        color: #af0c00;
    }
}