
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/* Below 1054px width */
@media screen and (max-width: 1053px) {
    nav.main-nav {
        display: none !important;
    }

    header a.main-logo {
        background: transparent url("../../img/asyncsystems-white.svg") center center no-repeat !important;
        top: 0 !important;
    }

    nav.navbar {
        padding: 0px 0px 0px 0.6rem !important;
    }

    header div.grid-column {
        margin-left: 10px;
    }

}

@media screen and (max-width: 507px) {

    .float-left-mobile {
        float: left !important;
    }
}

@media screen and (min-width: 1054px) {
    header a.main-logo {
        margin-top: 15px;
        background-size: 100%;
        width: 300px;
        height: 105px;
    }
}

/* Footer */

@media screen and (min-width: 800px) {
    footer {
        grid-template-columns: auto auto auto !important;
        grid-template-rows: auto !important;

        height: 90px !important;

        .copyright {
            padding-left: 50px !important;
            text-align: left !important;
            margin-top: auto !important;
            margin-bottom: auto !important;
        }

        .impressum {
            text-align: left !important;
            margin-top: auto !important;
            margin-bottom: auto !important;

            .impr, .dsg, .agb {
                width: 80% !important;
                margin-left: auto !important;
                margin-right: auto !important;
                font-size: 25px !important;
            }
        }

        .payment {
            padding-right: 50px !important;
            .text {
                text-align: right !important;
                margin-top: auto !important;
                margin-bottom: auto !important;
            }

            .methods {
                grid-template-rows: 20px 20px !important;
                grid-gap: 8px;
                text-align: right;
            }
        }
    }
}