$error-red: rgb(172, 0, 0);

html {
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0;
    background-color: #fff;

    scroll-behavior: smooth;
    scroll-snap-type: y proximity;

    body {
        height: 100%;
        margin-bottom: 100px;
        main {
            #login {
                margin-top: 15%;
                padding: 5%;
                width: 50%;
            }

            .ul_user_modify {
                margin: 0;
                
                li {
                    display: inline;
                }
            }
            
        }
    }
}