<%- include('../core/header') %>

<form action="/track" method="POST">
    <div class="form-group">
      <label for="trackingID">Geben Sie Ihre Tracking-ID ein</label>
      <input type="text" class="form-control" name="trackingID" id="trackingID" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Suchen</button>
  </form>

<%- include('../core/footer') %>