<%- include('../core/header') %>

<form action="/login" method="POST">
    <div class="card ml-auto mr-auto" id="login">
        <div class="form-group">
            <label for="email">Enter your Email-Address</label>
            <% if (typeof email_err == 'undefined') {%>
                <% if (typeof email != 'undefined') {%>
                    <input type="email" class="form-control" name="email" id="email" autocomplete="off" value="<%= email %>">
                <%} else {%>
                    <input type="email" class="form-control" name="email" id="email" autocomplete="off">
                <%}%>
            <%} else {%>
            <input type="email" class="form-control is-invalid" name="email" id="email" autocomplete="off">
            <span class="small invalid-feedback"><%= email_err %></span>
            <%}%>
        </div>
        <div class="form-group">
            <label for="password">Enter your Password</label>
            <% if (typeof password_err == 'undefined') {%>
            <input type="password" class="form-control" name="password" id="password" autocomplete="off">
            <%} else {%>
            <input type="password" class="form-control is-invalid" name="password" id="password" autocomplete="off">
            <span class="small invalid-feedback"><%= password_err %></span>
            <%}%>
        </div>
        <div class="form-group">
            <input type="password" class="form-control d-none" name="token" id="token" autocomplete="off" value="<%= token %>">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<%- include('../core/footer') %>