<%- include('../core/header') %>

<div class="progress">
  <% if(data.status == 0) { %>
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">in Bearbeitung</div>
  <%} else if(data.status == 1) { %>
    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Bestellt</div>
  <%} else if(data.status == 2) { %>
    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Angekommen</div>
  <%} else if(data.status == 3) { %>
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Auslieferungsbereit</div>
  <%} else if(data.status == 4) {%>
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Ausgeliefert</div>
  <%}%>
</div>

<table>
    <tbody>
        <tr>
            <td><b>Ansprechsperson:</b> <%= data.clerk %></td>
        </tr>
    </tbody>
</table>

<% stuff.forEach(function(row) {%>
    <div class="card mb-3">
        <div class="card-body">
            <div class="float-left">
                <table>
                    <tbody>
                        <tr>
                            <td><b>Typ:</b> <%= row.Type %></td> 
                        </tr>
                        <tr>
                            <td><b>Marke:</b> <%= row.Brand %></td>
                        </tr>
                        <tr>
                            <td><b>Modell:</b> <%= row.Model %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="float-right float-left-mobile">
                <!-- I know, not the most elegant way to show it in centre :c -->
                <table>
                    <tbody>
                        <tr class="invisible">
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>
                                <% if(row.Status == 0) { %>
                                    <span class="">in Bearbeitung</span>
                                <%} else if(row.Status == 1) {%>
                                    <span class="ordered">Ware Bestellt</span>
                                <%} else if(row.Status == 2){%>
                                    <span>Ware Angekommen</span>
                                <%} else {%>
                                    <span>Ungültig</span>
                                <%}%>
                            </td>
                        </tr>
                        <tr class="invisible">
                            <td>.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
<%})%>

<%- include('../core/footer') %>