<%- include('../../core/header') %>

<form action="/admin/users/add" method="POST">
    <div class="form-group">
        <label for="InputEmail">Email address</label>
        <% if(data == "") {%>
            <input type="email" class="form-control col-sm-5" id="InputEmail" name="email">
        <% } else { %>
            <% if(data['email_err'] == "") {%>
            <input type="email" class="form-control col-sm-5" id="InputEmail" name="email" value="<%= data['email'] %>">
            <% } else { %>
            <input type="email" class="form-control col-sm-5 is-invalid" id="InputEmail" name="email">
            <label for="InputEmail" class="invalid-feedback"><%= data['email_err'] %></label>
            <% } %>
        <%}%>
    </div>
    <div class="form-group">
        <label for="InputPassword">Enter Password</label>
        <% if(data == "") {%>
            <input type="password" class="form-control col-sm-5" id="InputPassword" name="password">
        <% } else { %>
            <% if(data['password_err'] == "") {%>
            <input type="password" class="form-control col-sm-5" id="InputPassword" name="password" value="<%= data['password'] %>">
            <% } else { %>
            <input type="password" class="form-control col-sm-5 is-invalid" id="InputPassword" name="password">
            <label for="InputPassword" class="invalid-feedback"><%= data['password_err'] %></label>
            <% } %>
        <%}%>
    </div>
    <div class="form-group">
        <label for="RepeatPassword">Repeat Password</label>
        <% if(data == "") {%>
            <input type="password" class="form-control col-sm-5" id="RepeatPassword" name="passwordRepeat">
        <% } else { %>
            <% if(data['passwordRepeat_err'] == "") {%>
            <input type="password" class="form-control col-sm-5" id="RepeatPassword" name="passwordRepeat" value="<%= data['passwordRepeat'] %>">
            <% } else { %>
            <input type="password" class="form-control col-sm-5 is-invalid" id="RepeatPassword" name="passwordRepeat">
            <label for="RepeatPassword" class="invalid-feedback"><%= data['passwordRepeat_err'] %></label>
            <% } %>
        <%}%>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control col-sm-3 btn btn-primary" id="SubmitButton" value="Create User">
    </div>
</form>

<%- include('../../core/footer') %>