<%- include('../../core/header') %>

<h1>Admin Panel</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">TrackID</th>
            <th scope="col">Status</th>
            <!-- in Bearbeitung, Bestellt, Angekommen, Auslieferungsbereit, Ausgeliefert -->
            <th scope="col">
                <ul class="ul_user_modify">
                    <li>Options</li>
                    <li><a href="/admin/orders/add" title="Add an Order"><i class="fas fa-plus-square"></i></a></li>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
            <% if(data != "") {%>
                <% data.forEach(function(row) { %>
                <tr>
                    <td><%= row.trackID %></td>
                    <td>
                        <% if(row.status == 0) { %>
                            in Bearbeitung
                        <%} else if(row.status == 1) {%>
                            Ware Bestellt
                        <%} else if(row.status == 2){%>
                            Ware Angekommen
                        <%} else if(row.status == 3){%>
                            Auslieferungsbereit
                        <%} else if(row.status == 4){%>
                            Ware Ausgeliefert
                        <%} else {%>
                            Ungültig
                        <%}%>
                    </td>
                    <td>
                        <ul class="ul_user_modify">
                            <li><a href="/admin/orders/delete/<%= row.trackID %>" title="Delete Order"><i class="fas fa-trash-alt"></i></a></li>
                            <li><a href="/admin/details/<%= row.trackID %>" title="Modify Order"><i class="fas fa-pen"></i></a></li>
                            <li><a href="/track/<%= row.trackID %>" title="Detail View">Details</a></li>
                        </ul>
                    </td>
                </tr>
                <%})%>
            <%}%>
    </tbody>
</table>

<%- include('../../core/footer') %>