<%- include('../../core/header') %>
<form action="/admin/updateOrder" method="POST" class="mb-3">

    <div class="form-group d-none">
        <input type="text" name="trackID" value="<%= data.trackID %>" readonly>
    </div>

    <div class="progress mb-3">
        <% if(data.status == 0) { %>
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">in Bearbeitung</div>
          <%} else if(data.status == 1) { %>
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Bestellt</div>
          <%} else if(data.status == 2) { %>
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Angekommen</div>
          <%} else if(data.status == 3) { %>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Auslieferungsbereit</div>
          <%} else if(data.status == 4) {%>
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Ausgeliefert</div>
          <%}%>
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">New Status</span>
        </div>
        <select class="custom-select" id="statusSelect" name="selectStatus">
            <% if(data.status == 0) { %>
                <option value="0" selected>in Bearbeitung</option>
                <option value="1">Bestellt</option>
                <option value="2">Angekommen</option>
                <option value="3">Auslieferungsbereit</option>
                <option value="4">Ausgeliefert</option>
            <%} else if(data.status == 1) {%>
                <option value="0">in Bearbeitung</option>
                <option value="1" selected>Bestellt</option>
                <option value="2">Angekommen</option>
                <option value="3">Auslieferungsbereit</option>
                <option value="4">Ausgeliefert</option>
            <%} else if(data.status == 2){%>
                <option value="0">in Bearbeitung</option>
                <option value="1">Bestellt</option>
                <option value="2" selected>Angekommen</option>
                <option value="3">Auslieferungsbereit</option>
                <option value="4">Ausgeliefert</option>
            <%} else if(data.status == 3){%>
                <option value="0">in Bearbeitung</option>
                <option value="1">Bestellt</option>
                <option value="2">Angekommen</option>
                <option value="3" selected>Auslieferungsbereit</option>
                <option value="4">Ausgeliefert</option>
            <%} else if(data.status == 4){%>
                <option value="0">in Bearbeitung</option>
                <option value="1">Bestellt</option>
                <option value="2">Angekommen</option>
                <option value="3">Auslieferungsbereit</option>
                <option value="4" selected>Ausgeliefert</option>
            <%}%>
        </select>
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </div>
    
    
    <table>
        <tbody>
            <tr>
                <td><b>Clerk:</b> <%= data.clerk %></td>
            </tr>
        </tbody>
    </table>
    
    <% stuff.forEach(function(row) {%>
        <div class="card mb-3">
            <div class="card-body">
                <div class="float-left">
                    <table>
                        <tbody>
                            <tr>
                                <td><b>Type:</b> <input name="inputType<%= row.Type %>" type="text" class="border-0" value="<%= row.Type %>" readonly></td> 
                            </tr>
                            <tr>
                                <td><b>Brand:</b> <input name="inputBrand<%= row.Type %>" type="text" class="border-0" value="<%= row.Brand %>" readonly></td>
                            </tr>
                            <tr>
                                <td><b>Model:</b> <input name="inputModel<%= row.Type %>" type="text" class="border-0" value="<%= row.Model %>" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="float-right float-left-mobile">
                    <!-- I know, not the most elegant way to show it in centre :c -->
                    <table>
                        <tbody>
                            <tr class="invisible">
                                <td>.</td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="custom-select" id="statusSelect<%= row.Type %>" name="select<%= row.Type %>">
                                        <% if(row.Status == 0) { %>
                                            <option value="0" selected>in Bearbeitung</option>
                                            <option value="1">Ware Bestellt</option>
                                            <option value="2">Ware Angekommen</option>
                                        <%} else if(row.Status == 1) {%>
                                            <option value="0">in Bearbeitung</option>
                                            <option value="1" selected>Ware Bestellt</option>
                                            <option value="2">Ware Angekommen</option>
                                        <%} else if(row.Status == 2){%>
                                            <option value="0">in Bearbeitung</option>
                                            <option value="1">Ware Bestellt</option>
                                            <option value="2" selected>Ware Angekommen</option>
                                        <%}%>
                                    </select>
                                </td>
                            </tr>
                            <tr class="invisible">
                                <td>.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    <%})%>

</form>

<%- include('../../core/footer') %>