<%- include('../../core/header') %>

<form action="/admin/users/modify" method="POST">
    <div class="form-group">
        <h3>Edit Email</h3>
        <label for="emailAddress">Email address</label>
        <% if (data == "") { %>
            <input type="email" class="form-control col-sm-5" name="emailAddress" id="emailAddress" value="<%= emailAddress %>">
        <% } else { %>
            <% if (data['email_err'] == "") { %>
                <input type="email" class="form-control col-sm-5" name="emailAddress" id="emailAddress" value="<%= data['email'] %>">
            <% } else { %>
                <input type="email" class="form-control col-sm-5 is-invalid" name="emailAddress" id="emailAddress">
                <span class="invalid-feedback"><%= data['email_err'] %></span>
            <% } %>
        <%}%>

        <% if (data == "") { %>
            <input type="email" class="d-none" name="oldEmail" id="oldEmail" value="<%= emailAddress %>" readonly="readonly">
        <% } else { %>
            <input type="email" class="d-none" name="oldEmail" id="oldEmail" value="<%= data['oldEmail'] %>" readonly="readonly">
        <%}%>
    </div>
    <div class="form-group">
        <h3>Change Password</h3>
        <label for="password">New Password</label>
        <% if (data == "") { %>
            <input type="password" class="form-control col-sm-5" name="password" id="password">
        <% } else { %>
            <% if (data['password_err'] == "") { %>
                <input type="password" class="form-control col-sm-5" name="password" id="password">
            <% } else { %>
                <input type="password" class="form-control col-sm-5 is-invalid" name="password" id="password">
                <span class="invalid-feedback"><%= data['password_err']%></span>
            <%}%>
        <%}%>
        <label for="password">Retype Password</label>
        <% if (data == "") { %>
            <input type="password" class="form-control col-sm-5" name="passwordRepeat" id="passwordRepeat">
        <% } else { %>
            <% if (data['passwordRepeat_err'] == "") { %>
                <input type="password" class="form-control col-sm-5" name="passwordRepeat" id="passwordRepeat">
            <% } else { %>
                <input type="password" class="form-control col-sm-5 is-invalid" name="passwordRepeat" id="passwordRepeat">
                <span class="invalid-feedback"><%= data['passwordRepeat_err']%></span>
            <%}%>
        <%}%>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save Changes">
        <a href="/admin/users" class="btn btn-danger">Discard Changes</a>
    </div>
</form>

<%- include('../../core/footer') %>