<%- include('../../core/header') %>

<form action="/admin/users/remove" method="POST">
    <div class="form-group">
        <h3>Security Question</h3>
        <span>Do you really want to delete the User <%= emailAddress %>?</span>
        <input type="text" class="d-none" name="emailAddress" value="<%= emailAddress %>" readonly="readonly">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Yes!"></a>
        <a href="/admin/users" class="btn btn-danger">No, take me back!</a>
    </div>
</form>

<%- include('../../core/footer') %>