<%- include('../../core/header') %>

<h1>User Management</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">E-Mail</th>
            <% if (email == "administrator@localhost") { %>
            <th scope="col">
                <ul class="ul_user_modify">
                    <li>Options</li>
                        <li><a href="/admin/users/add" title="Add a User"><i class="fas fa-plus-square"></i></a></li>
                    </ul>
                </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% row.forEach(function(rowval) { %>
            <tr>
                <td><%= rowval.email %></td>
                <% if (email == "administrator@localhost") { %>
                <td>
                    <% if (rowval.email != "administrator@localhost") { %>
                    <ul class="ul_user_modify">
                        <li><a href="/admin/users/remove/<%= rowval.email %>" title="Remove User <%= rowval.email %>"><i class="fas fa-trash-alt"></i></a></li>
                        <li><a href="/admin/users/modify/<%= rowval.email %>" title="Modify User <%= rowval.email %>"><i class="fas fa-pen"></i></a></li>
                    </ul>
                    <% } %>
                </td>
                <% } %>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../../core/footer') %>