<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="AsyncSystems Auftrags-Tracking App">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AsyncSystems | AsyncStatus</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/scss/css/header.css">
        <link rel="stylesheet" type="text/css" href="/assets/scss/css/queries.css">
        <link rel="stylesheet" type="text/css" href="/assets/scss/css/style.css">
        <link rel="stylesheet" type="text/css" href="/assets/scss/css/footer.css">
        <script src="https://kit.fontawesome.com/2c440bbb54.js" crossorigin="anonymous"></script>
      </head>

    <body>
      <div class="top-header"></div>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand main-logo" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% var email %>
            <ul class="navbar-nav ml-5 mr-auto">
              <% if (email == undefined) {%>
              <li class="nav-item active">
              <%} else { %>
                <li class="nav-item">
              <%}%>
                <a class="nav-link" href="/">Home</a>
              </li>
              <% if (email != undefined) {%>
              <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              <%}%>
            </ul>
            <% if (email == undefined) {%>
              <a class="nav-link text-white" href="/login">Login</a>
            <%} else { %>
              <a class="nav-link dropdown-toggle text-white" href="#" id="logoutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome <%= email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="logoutDropdown">
                <a class="dropdown-item" href="/admin/users">User Management</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            <%}%>
          </div>
        </nav>
      </header>

        <main>
            <div class="container mt-5">